.container{
    width: 100%;
}
.Title{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;

    
}
.headerArea{
    padding: 45px 24px 30px 24px;
    background-color: #D73C0B;
 
    
    
}

.image{
    margin-right:150px ;
    margin-top: -0px;
    height: 350px;
    padding-left: 150px;
    
}
 .Bgheader{
    
 }


 .textA{
    font-weight: 500;
    font-size: 15px;
    color: #1d1d1d;
    margin-bottom: 8px;
 }

 .textB{
    font-weight: 400;
    font-size: 30px;
    color:   #000000;
    margin-bottom: 27px;
 }

 .line{
    background-color:#D73C0B
 }